---
import HomeLayout from '../layouts/HomeLayout.astro';

---

<HomeLayout title="Skyler Yuda | Actor | Voice & On Camera">
    
    <div class="sm:px-4 px-6 flex flex-col min-h-[80vh] max-w-3xl mx-auto overflow-hidden container">
        <h1 class="text-6xl font-bold text-white drop-shadow-lg font-metal tracking-wider fade-in-element">Skyler Yuda</h1>
        <ul class="font-yuji mt-6 space-y-2">
            <li class="fade-in-element delay-100">Voice Acting</li>
            <li class="fade-in-element delay-200">On-Camera Acting</li>
            <li class="fade-in-element delay-300">Modeling</li>
            <li class="fade-in-element delay-400">Audio Production</li>
            <li class="fade-in-element delay-500">Video Production</li>
            <li class="fade-in-element delay-500">Editing</li>
        </ul>
    </div>
</HomeLayout>
